################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Papeleta_3Capas.slnx/v18/.suo
